
/* Fonts */

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lightregular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Login Page */
body {
	background:url('../images/bg.png') repeat;
	margin:0px;
	font-family:sans-serif;
}

#topnav {
	background-color:#6b6b6b;
	width:100%;
	height:40px;
}

#topnav ul {
	margin:0px;
	list-style: none;
}

#topnav ul li a{
	float:right;
	font-family:'aller_lightregular', sans-serif;
	font-size:.8em;
	margin-right:20px;
	margin-top:13px;
	text-decoration: none;
	color:#fff;
	letter-spacing: 1px;
}

#topnav ul li a:hover {
	color:#39dbcd;
}

#logo {
	background:url('../images/logo.png') no-repeat;
	width:500px;
	height:175px;
	margin:50px auto;
	text-indent:-9999px;
}

#logo a {
	width:500px;
	height:175px;
	display: block;
}

div#logincontainer {
	width:400px;
	margin:0 auto;
}

#logincontainer p {
	font-family:'aller_lightregular', sans-serif;
	color:#fff;
	text-align:center;
	font-size:.7em;
	line-height:1.5em;
	letter-spacing: 1px;
	margin-bottom:20px;
}

#logincontainer p a {
	color:#fff;
	text-decoration: none;
}

#logincontainer p a:hover {
	color:#39dbcd;
}

.loginform {
	width:380px;
	height:25px;
	margin:5px 0px;
	padding:10px;
	font-family:'aller_lightregular', sans-serif;
	border:none;
}

.loginport {
	width:180px;
	height:25px;
	margin:5px 0px;
	border:none;
	padding:10px;
	font-family:'aller_lightregular', sans-serif;
}

.loginbutton {
	float:right;
	width:190px;
	height:46px;
	border:none;
	margin:5px 0px 0px 6px;
	padding:0px;
	background-color:#24a59a;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:1.1em;
	font-family:'aller_lightregular', sans-serif;
	cursor:pointer;
}

/* Other Pages */
#pagecontainer {
	margin:20px 20px;
}

#statuscontainer {
	width:48%;
	float:left;
	clear:right;
	padding:1% 1%;
}

span.worker {
	color:#ccc;
}

h1 {
	color:#fff;
	font-family:'allerregular', sans-serif;
	text-transform: uppercase;
	font-size:1.8em;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing: 1px;
	text-align: left;
}

h2 {
	color:#fff;
	font-family:'allerregular', sans-serif;
	text-transform: uppercase;
	font-size:1.2em;
	margin-top:30px;
	margin-bottom:10px;
	letter-spacing: 1px;

}

h3 {
	color:#fff;
	font-size:.9em;
	font-family:'allerregular', sans-serif;
	letter-spacing: 1px;
	margin-top:25px;
}

p {
	margin:0px 0px;
	color:#fff;
	font-family:'aller_lightregular', sans-serif;
	font-size:.8em;
	letter-spacing: 1px;
	line-height: 1.5em;
}

a {
	color:#fff;
	text-decoration: none;
}

a:hover {
	color:#39dbcd;
}
#flowchart{
	margin:20px 0px;
	width:99%;
	display:inline-block;
}

/* Status Page */

#welcome {
	position: absolute;
	top:13px;
	left:1%;
	color:#ccc;
	letter-spacing: 1px;
	font-family:'aller_lightregular', sans-serif;
	text-transform: uppercase;
	font-size:.8em;
	display:block;
}

#welcome a {
	color:#fff;
	text-decoration: none;
}

#welcome a:hover {
	color:#39dbcd;
}


#welcome span {
	color:#fff;
}



a#smalllogopage {
	background-image:url('../images/logosmall.png');
	width:60px;
	height:40px;
	text-indent: -9999px;
	float:right;
	margin-top:0px;
	margin-right:15px;
	opacity:.3;
}

a#smalllogopage:hover {
	opacity:1;
}

#status {
	background-color:#6b6b6b;
	padding:10px;
} 

.statussingle {
	background-color:#333333;
	margin-bottom:10px;
	padding:10px;
}

.statussingle:last-child {
	margin-bottom:0px;
}

/* rankings */
#rankings {
	margin-top:0px;
	background-color:#333333;
	padding:10px 10px 5px 10px;
	margin-bottom:10px;
	border:10px #6b6b6b solid;
}

/* chart */

h1#statustitle {
	text-align: left;
	text-transform: lowercase;
	font-family: 'aller_lightregular', sans-serif;
	margin-left:1%;
}

h1.statusheadings {
	margin-top:15px;
}

#chart {
	margin-top:0px;
	background-color:#6b6b6b;
	padding:10px 10px 5px 10px;
}

#chart .bar .caption {
	float:left;
	margin:8px;
	width:100px;
	color:#fff;
}

#chart .bar .caption .time {
	color:#6b6b6b;
}


#chart .inprogressbar .caption {
	float:left;
	margin:8px;
	width:100px;
	color:#6b6b6b;

}

.bar {
	height:35px; 
	background-color:#39dbcd;
	margin-bottom:10px;
	

}

.bar:last-child {
	margin-bottom:5px;
}

.bar:hover {
	 
	background-color:#24a59a;
	color:#fff;
}



.inprogressbar {
	height:35px; 
	background-color:#ccc;
	margin-bottom:10px;
	max-width: 100%;
	color:#fff;
}

.inprogressbar:hover {
	
	background-color:#fff;
	color:#6b6b6b;
}

